<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ceavi.udesc.agendamedmobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoapp"
        android:label="AgendaMed"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.CadastrarActivity" />
        <activity android:name=".controller.PostoActivity" />
        <activity android:name=".controller.MedicoActivity" />
        <activity android:name=".controller.OpcoesActivity" />
        <activity android:name=".controller.CancelarAgendamentoActivity" />
        <activity android:name=".controller.HistoricoActivity" />
        <activity android:name=".controller.AgendamentoActivity" />
        <activity android:name=".controller.EspecialidadeActivity"></activity>
    </application>

</manifest>